<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>分类及搜索结果页</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{$description}">
<meta name="keywords" content="{$keywords}">
<meta name="author" content="Siglud Siglud@gmail.com">
<link rel="stylesheet" href="../../static/ppg.css">
</head>

<body>
    <div class="topline"><div class="inner">
        <a href="" class="backToIndex">首页</a>
        <p class="siteMenu">
            <a href="" id="login">登录</a>
            <a href="" id="reg">注册</a>
            <a href="">控制面板</a>
            <a href="">帮助</a>
            <a href="" id="rss">RSS</a>
        </p>
    </div></div>
    <div class="header"><div class="inner">
        <a href="" id="logo"><img src="http://share.popgo.org/img.php" width="170" height="60" /></a>
        <div id="searchForm">
            <form action="" method="POST">
                <p class="clear">
                    <input type="text" name="keyword" autofocus />
                    <input type="submit" value="搜索" >
                    <a href="" class="advancedSearch">高级搜索</a>
                </p>
            </form>
            <div class="hotKwds">
                <h2>热门搜索：</h2>
                <ul>
                    <li><a href="">Label</a></li>
                    <li><a href="">Label</a></li>
                    <li><a href="">Label</a></li>
                    <li><a href="">Label</a></li>
                    <li><a href="">Label</a></li>
                    <li><a href="">Label</a></li>
                    <li><a href="">Label</a></li>
                </ul>
            </div>
        </div>
        <div id="groupMenu">
            <a href="">申请加入发布组</a>
            <br />
            <a href="">发布组列表</a>
        </div>
    </div></div>
    <div class="mainNav"><div class="inner">
        <ul class="clear">
            <li><a href="">动画</a></li>
            <li><a href="">漫画</a></li>
            <li><a href="">动漫合集</a></li>
            <li><a href="">音乐</a></li>
            <li><a href="">日剧</a></li>
            <li><a href="">RAW</a></li>
            <li><a href="">其他</a></li>
        </ul>
        <div class="opt">
            <a href="">上传种子</a>
            <a href="">论坛</a>
        </div>
    </div></div>
    <div class="body"><div class="inner">
        <div class="bangumiList">
            <div class="hd">
                <h2>番组列表</h2>
                <a href="#" class="toggle">展开</a>
            </div>
            <div class="bd">
                <div class="list">
                    <strong class="label">星期一</strong>
                    <a href="">海贼王</a>
                    <a href="">刀剑神域</a>
                    <a href="">日常系的异能战斗</a>
                    <a href="">魔神之骨</a>
                    <a href="">TRINITY SEVEN 七人的魔法使</a>
                    <a href="">高达创战者TRY</a>
                    <a href="">Hi☆sCoool!世嘉少女</a>
                </div>
                <div class="list today">
                    <strong class="label">星期一</strong>
                    <a href="">海贼王</a>
                    <a href="">刀剑神域</a>
                    <a href="">日常系的异能战斗</a>
                    <a href="">魔神之骨</a>
                    <a href="">TRINITY SEVEN 七人的魔法使</a>
                </div>
                <div class="list">
                    <strong class="label">星期一</strong>
                    <a href="">海贼王</a>
                    <a href="">刀剑神域</a>
                    <a href="">日常系的异能战斗</a>
                    <a href="">魔神之骨</a>
                    <a href="">TRINITY SEVEN 七人的魔法使</a>
                    <a href="">高达创战者TRY</a>
                    <a href="">Hi☆sCoool!世嘉少女</a>
                    <a href="">Tales of Zestiria~导师的黎明~（完）</a>
                </div>
            </div>
        </div>
        <div class="torrentOfCate">
            <div class="hd">
                <h2>当前分类：动画</h2>
                <!-- <h2>搜索关键字：刀剑神域</h2> -->
            </div>
            <div class="torrentList">
                <div class="item">
                    <div class="title">
                        <a href=""><em class="top">[置顶]</em><span class="group">[萌物百科字幕组]</span>【萌物百科字幕社】★[四月是你的谎言_Shigatsu wa Kimi no Uso][14]</a>
                    </div>
                    <div class="data">
                        <span class="seedingNum">150</span>
                        <span class="downloadingNum">130</span>
                        <span class="doneNum">1</span>
                    </div>
                    <div class="meta">
                        <span class="time">00-00-00 00:00</span> by <a href="" class="userName">基友一生一起走</a>
                        <span class="fileSize">10.50MB</span>
                        <!-- 搜索页可输出此分类属性
                        <a href="" class="cate">动画</a>
                        -->
                    </div>
                    <div class="opt">
                        <a href="">磁力链下载</a>
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <a href="">[Leopard-Raws]飆速宅男GRANDE ROAD第二期(飙速宅男第二季) Yowamushi Pedal - Grande Road - 15 RAW (TX 1280x720 x264 AAC).mp4</a>
                    </div>
                    <div class="data">
                        <span class="seedingNum">20</span>
                        <span class="downloadingNum">1000</span>
                        <span class="doneNum">12345</span>
                    </div>
                    <div class="meta">
                        <span class="time">00-00-00 00:00</span> by <a href="" class="userName">基友一生一起走</a>
                        <span class="fileSize">10.50MB</span>
                        <!-- 搜索页可输出此分类属性
                        <a href="" class="cate">动画</a>
                        -->
                    </div>
                    <div class="opt">
                        <a href="">磁力链下载</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagelist">
            共 2000 页
            <a href="" class="first">第一页</a>
            <a href="">1</a>
            <strong>2</strong>
            <a href="">3</a>
            <a href="" class="last">最后一页</a>
        </div>
    </div></div>
    <div class="footer"><div class="inner">
        footer
    </div></dov>
</body>
</html>